body {
    font-family: Times, serif;
    margin: 0;
    padding: 20px 100px 0; /* Padding top, right, bottom, left */
    background-color: #ffffff;
    color: #228b22;
    text-align: left;
    line-height: 1;
}

header {
    background-color: #ffffff;
    color: #228b22;
    padding-left: 0; /* Adjusted padding for the header */
    text-align: left;
}

h1, h2 {
    margin: 0;
    color: #228b22;
}

h2 {
    margin-top: 20px;
    font-size: 24px; /* Adjust the font size of h2 */
}

p {
    margin-top: 0px; /* Add space between subheadings */
    margin-bottom: 0px; /* Remove space between subheading and caption */
    color: #228b22;
}

ol {
    margin-top: 0px; /* Add space between subheadings */
    padding-left:0;
    margin-bottom: 20px; /* Remove space between subheading and caption */
    color: #228b22;
}

.bold-caption {
    font-weight: bold; /* Apply bold font weight to specific captions */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.container {
    display: flex;
}

.text {
    flex: 2.4; /* Take up two-thirds of the container */
}

.photos {
    padding: 20px;
    flex: 1; /* Take up one-third of the container */
    display: flex;
    flex-direction: column; /* Arrange photos in a column */
}

.photos img {

    width: 100%; /* Make sure the image fills the container */
    height: auto; /* Maintain the aspect ratio */
}

h1 {
    font-size: 36px; /* Increase font size of h1 */
}

.container {
    display: flex;
    justify-content: space-between; /* Add space between images */
}


h1 {
    font-size: 36px; /* Increase font size of h1 */
}

.container {
    display: flex;
    justify-content: space-between; /* Add space between images */
    align-items: flex-start; /* Align items to the start (top) */
}

.photos {
    display: flex;
    flex-direction: column; /* Arrange photos in a column */
    align-items: flex-end; /* Right-align photos */
}

.photos img {
    width: 90%; /* Reduce width of the images */
    height: auto; /* Maintain the aspect ratio */
    margin-bottom: 20px; /* Add vertical space between images */
}
